body{
    margin:0;
    --clr-dark:#282c34;
    --clr-text:hsl(0, 0%, 89%);
    --clr-purp:rgb(189, 147, 249);
}

.popup{
    padding: 1rem;
    background: var(--clr-dark);
    color:var(--clr-text);
}

.popup h1{
    font-size: 2rem;
    margin: 1rem 0 0;
    color:var(--clr-purp)
}

.popup p{
    margin-top: .25rem;
    text-align: center;
}

.popup button{
    margin: 1rem 0;
    background: var(--clr-dark);
    font-size: medium;
    font-weight: 700;
    color: var(--clr-text);
    font-family: 'Inter' sans-serif;
    border: 2px dashed var(--clr-purp);
    padding: .5rem .75rem;
    border-radius: .5rem;
    cursor: pointer;
    opacity: .7;
    transition: .125s all ease-in-out;
}

.popup button:hover{
    opacity: 1;
    border-color: var(--clr-text);
}