.container{
    display: flex;
    flex-direction: column;    
    padding:.25rem;   
}

.wrapper{
    position: absolute;
    top: 10rem;
    left: 3rem;
    background-color: var(--clr-dark-alt);
    z-index: 9;
    color:var(--clr-primary-hover)   
}

.container span{
    
    font-size: .9rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding:.25rem;
    padding-right: 2.5rem;
    gap: .5rem;
    transition: var(--transition);
}

.container span:not(.rule):hover{
    background-color: var(--clr-dark);
}

span.rule{
    background-color: var(--clr-link);
    height:1px;
    border: none;
    padding:0;
    margin-block:.25rem;
    opacity: .3;
}