.wrapper {
    position: absolute;
    top: 40%;
    right: 50%;
    background-color: var(--clr-dark-alt);
    z-index: 9;
    color: var(--clr-primary-hover);
    transform: translateX(50%);
}

.container {
    display: flex;
    flex-direction: column;
    padding: .5rem;
    border: 1px solid var(--clr-primary-hover);
    width: 450px;
    min-height: 321px;
}

.title {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.title img.icon {
    width: 1.5rem;
}

.container p {
    margin: .5rem 0;
}

.img {
    width: 100%;
    object-fit: scale-down;
}