.child{
    padding-left: 2rem;
}

.sidebar{       
    width:33%;
    min-width: 15rem;
    
}


.list{
    max-height: calc(100vh - 3rem);
    overflow: scroll;
    overflow-x: hidden;
    padding:.5rem;
}

.folder{
    padding-left: 1rem;
}

.folder h2{
    margin: .25rem 0;
    font-size: .9rem;
    cursor: pointer;
    transition: var(--transition);
}

.folder h2:hover{
    color:var(--clr-primary-hover);
}

.folder .title{
    display: flex;
    align-items: center ;

}

.caret{
    width:2rem;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: .5rem;
    cursor: pointer;
    margin-left: -2rem;
}